certifi==2021.5.30
chardet==4.0.0
click==8.0.1
filelock==3.0.12
future==0.18.2
idna==2.10
joblib==1.0.1
numpy==1.20.3
packaging==20.9
Pillow==8.2.0
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
six==1.16.0
tokenizers==0.9.4
torch==1.6.0
torchvision==0.7.0
tqdm==4.61.0
transformers==4.1.1
urllib3==1.26.5
